<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Paper Soccer</title>
  <link rel="icon" href="../images/favicon.jpg">
  <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <div class="root">
        <h1>Paper Soccer</h1>
        <img src="../images/ball.jpg" alt="ball">
        <hr>
        <div class="menu">
          <button onclick="window.location.href='match'">Single Match</button>
          <button onclick="window.location.href='league'">League</button>
          <button onclick="window.location.href='tournament'">Tournament</button>
        </div>        
    </div>
</body>
</html>
